.img-link {
    width: 20px;
  }
  
  .invisible-link {
    opacity: 0; /* Hide by default */
  
    transition: opacity 0.5s; /* Smooth transition effect */
  }
  
  .invisible-link:hover {
    opacity: 1; /* Fully visible on hover */
    margin-left: 2px;
  }
  
 
  

  
