/* main-content.css */
.section {
    padding: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 60px;
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.focus-light {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 5px 12px 24px rgba(4, 4, 4, 0.983);
}

.focus-dark {
    transform: translateY(-10px) scale(1.05);
    box-shadow:2px 5px 14px rgba(255, 255, 255, 0.99);
}
.main-content{
    margin-top: 100px !important;
}
.relleno1{
    margin: 1000px;

}




.background-blur {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(10px);
    z-index: -1;
}

@media(max-width: 768px) {
    .div-content {
        justify-content: center !important;
    }
    .section{
        margin-right: 1px;
    }
}


.dark {
    background-color: #111827;
    color: #ffffff;
}

.l.light {
    background-color: #f8fafc;    /* Blanco grisáceo muy suave */
    color: #1f2937;               /* Gris oscuro para buen contraste */
}
footer{
    font-size: 10px;
    color: darkgrey;
    
    
}
