.fixed-column{
    position: fixed;
    top: 0;
  

}
.name-text{
    font-size: 4.0rem;
    height: 100%;
    
}

.dark{
    background-color: #353535;
    color: aliceblue;


}
.text {
  min-width: 500px;
}
.light{

    background-color: aliceblue;
    color: #353535;
}



.mobile-mode .text {
  text-align: center;
  padding-top: 100px;
}

.mobile-name-text {
  font-size: 2.5rem; /* Ajusta el tamaño según sea necesario */
}

.mobile-subtitle-text {
  font-size: 1.5rem; /* Ajusta el tamaño según sea necesario */
}

.relleno {
  padding: 2rem; /* Ajusta el relleno según sea necesario */
}
.relleno{
  min-height: 250px;
}
.link-text{
  font-size: 1.2rem;
}
.line-dark{
    width: 0px;
    height: 3px;
    background-color:black;
    position: relative;
    animation: aumentar 0.5s forwards; /* Nombre de la animación y duración */
}
.line-light{
    width: 0px;
    height: 3px;
    background-color: white;
    position: relative;
    top: 10px;
    animation: aumentar 0.4s forwards; /* Nombre de la animación y duración */
}

  @keyframes aumentar {
    0% { /* Estado inicial de la animación */
      width: 0px; /* Ancho inicial */
      height: 0px;
      
    }
    100% { /* Estado final de la animación */
      width: 120px; /* Ancho final */
      height: 3px;
      margin-top: 20px;
      margin-right: 20px;
    }
  }
  .list-light{
    color: white !important;
  }
  .list-dark{
    color: black;
  }
  .list {
    max-height: 40px;
    font-size: 35px;
    font-weight: 600;
  }
  @media (max-width: 768px) {
    body{
      font-size:0.8rem;
    }
    .fixed-column {
        position:relative;
        top: 0;
        height: auto;
        margin-left:0px !important;
        width: 100% !important;   
    }
    .text {
      min-width: 200px;
    }
    .section{
      max-width: 320px;
    }
   
}
@media (max-width: 980px) {
  .fixed-column {
      position:relative;
      top: 0;
      height: auto;
      margin-left:0px !important;
      width: 100% !important;   
  }
  .text {
    min-width: 200px;
  }
  .main-content{
    width: 600px;
  }
  .name-text{
    font-size: 3.0rem;
    height: 100%;
    
}
 
}